# Using create_sql_query_chain
# Creates a chain that generates SQL queries.

In [39]:
from langchain import OpenAI, SQLDatabase
from langchain.chains import create_sql_query_chain
import os

In [37]:
# Syntax to create the mysql database connection
# db = SQLDatabase.from_uri("mysql+mysqlconnector://username:password@host:port/database_name")

In [44]:
llm = OpenAI(temperature=0,openai_api_key=openai_api_key)

db_chain = create_sql_query_chain(llm=llm, db=db)

response = db_chain.invoke({"question":"what is the salary of John Doe?"})

In [45]:
print(response)

SELECT `salary` FROM `employee_data` WHERE `employee_name` = 'John Doe' LIMIT 1

In [46]:
data = db.run(response)

In [47]:
print(data)

[(50000,)]

# Using Agents

1. LangChain's SQL Agent offers a flexible interaction with SQL Databases.
2. Advantages of the SQL Agent include answering questions based on database schema and content, error recovery, multiple queries for user questions, and token-saving by retrieving relevant table schemas.
2. Initialization involves using the create_sql_agent constructor, utilizing the SQLDatabaseToolkit for query creation, execution, syntax checking, and table description retrieval.

In [48]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0,openai_api_key=openai_api_key)
agent_executor = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

In [53]:
result = agent_executor.invoke(
    "what is the age of Emily Davis?"
)

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


employee_data
Invoking: `sql_db_schema` with `employee_data`



CREATE TABLE employee_data (
	employee_id INTEGER,
	employee_name VARCHAR(100),
	age INTEGER,
	department VARCHAR(50),
	salary INTEGER
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from employee_data table:
employee_id	employee_name	age	department	salary
1	John Doe	30	Sales	50000
2	Jane Smith	25	Marketing	60000
3	Bob Johnson	35	IT	75000
*/
Invoking: `sql_db_query` with `SELECT age FROM employee_data WHERE employee_name = 'Emily Davis' LIMIT 1`
responded: Based on the schema of the `employee_data` table, I can query the `age` column to find the age of Emily Davis. Let me retrieve that information for you.

[(29,)]The age of Emily Davis is 29.

> Finished chain.

In [54]:
print(result)

{'input': 'what is the age of Emily Davis?', 'output': 'The age of Emily Davis is 29.'}